%h1 Добро пожаловать

%p Государственное образовательное учреждение среднего профессионального образования Свердловской области «Ирбитский политехникум» одно из старейших профессиональных образованных учреждений города Ирбита.

%p Кого и чему здесь учат? Мы уверены, что учим людей способных, знающих и умеющих трудится. Мы учим мыслить, думать, ставить вопросы, уметь решать поставленные задачи. Дух и стиль нашего образовательного учреждения – чувствовать себя нужным и успешным.

%p Более 700 человек осваивает 33 профессий и специальностей начального и среднего профессионального образования. Юноши и девушки обучаются слесарному, строительному, токарному, поварскому, швейному, транспортному делу и работе на компьютерной технике.

%p Жизнь становится ещё интереснее, когда после уроков можно заниматься в кружках, секциях, объединениях по интересам. Здесь находят друзей, обретают социальную зрелость и смысл своей профессии.

%p 79 педагогических работников нашего политехникума владеют разнообразными тактиками педагогической поддержки, обеспечивающей развитие личности обучающегося. Стратегическая задача педагогов не проверить знания, а увлечь, привить интерес, научить способам действия, решать проблемы.

%p Приходите к нам учиться, и Вы в этом убедитесь. Мы ждем Вас!
